.videos {
    background-color: $color-white-1;
    grid-column: full-start / full-end;
    height: 100vh;
    margin-bottom: 7rem;

    display: grid;
    grid-template-columns:[full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])[center-end] 1fr [full-end];

    &__heading {
        grid-column: center-start / center-end;

        &__center-heading {
            text-align: center;
        }

    }
    
    .sticky &__heading {
        margin-top: 7rem;
    }

    &__video {
        grid-column: full-start / full-end;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 2.4rem;
        grid-column-gap: .5rem;
        padding: 1.5rem 3rem;

        &__card {
            height: 25.3rem;
            width: 45rem;
            border-radius: 1rem;
        }

        .sticky &__card {
            height: 23rem;
        }
    }

    .sticky &__video {
        margin-top: -1rem;
    }
    
    &__action {
        grid-column: center-start / center-end;

        &__center{
            text-align: center;
        }

        &__btn{
            font-size: 2.5rem !important;
            margin-top: 2rem;
            margin-bottom: 6rem;
        }
    }

}